<h1>About the Seattle Seahawks</h1>

<p>The Seattle Seahawks are a NFL football team in the Pacific Northwest state of Washington.  Located in the Emerald City of Seattle, fans from all over the area come to see their beloved Seahawks play</p>

<h3>Core Value Statement</h3>

<p>The Seahawks organization is guided by overall principles of acceptance and understanding that help us create a culture of respect, equality and inclusiveness both on and off the field.

It is our goal to use these core principles and our commitment to passion, character and excellence to empower change within our community.

We, as an organization and as individuals, represent and respect a wide range of human differences, personal experiences and cultural backgrounds.</p>
