<div class="center-card">
  <div class="card" style="width: 20rem;">
    <h4 class="panel-title">Add Player to Roster</h4>
    <div class="card-body">
      <div>
        <label>First Name:</label>
        <br>
        <input #firstName class="form-control">
      </div>

      <div>
        <label>Last Name:</label>
        <br>
        <input #lastName class="form-control">
      </div>

      <div>
        <label>Jersey Number:</label>
        <br>
        <input #jerseyNumber class="form-control">
      </div>

      <div>
        <label>Position:</label>
        <br>
        <input #position class="form-control">
      </div>
      <button (click)="submitNewPlayerForm(firstName.value, lastName.value, jerseyNumber.value, position.value)" class="btn btn-success btn-block">Add!</button>
    </div>
  </div>
</div>

<div>
  <app-roster></app-roster>
</div>
